On the <strong>Create policy</strong> page, define a policy:
<ol>
	<li>
		Copy the policy document included in <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.','-') %>/customizing/policy-doc.html"><%= vars.platform_name %> for AWS Policy Document</a>. You must edit the policy document so the names of the S3 buckets match the ones you created in <a href="#create-s3">Step 2: Create S3 Buckets</a> above.
	</li>
   <li>
   		Paste the policy document into the <strong>JSON</strong> tab on the <strong>Create policy</strong> page.
   </li>
</ol>