<%#
This is a template partial.

A template partial formats content but does not contain content within itself. The content is within the frontmatter of the topic that uses this partial.

HOW TO USE

To use this partial:

1. Embed the partial in the topic you want to use.

2. In the frontmatter, which is at the top of the topic where the 'title' is, add the `tiles` array referencing the following example:
---
title: Topic title is here
tiles:
- name: My h3 tile header
  desc: A single paragraph description within my tile.
  links:
  - name: Name of my link
    url: ./my-link-destination.html
  - name: Name of my second link
    url: ../second-link-destination.html
- name: My second tile begins
  desc: Another paragraph description
  links:
  - name: Name of another link
    url: https://docs.pivotal.io
---

THE RESULT

You see tiles that have a subtle outline similar to the docs.pivotal.io homepage. There are two tiles per row and one tile per row on mobile devices.

PURPOSE

These tiles are purely for style. You can use this partial to format a landing page that contains many links or small, tangental pieces of information. The format allows the reader to see the links and headers in relation to one another, similar to a list or table.

 %>

<% if current_page.data.tiles? && current_page.data.tiles.kind_of?(Array) %>
  <style>
  #doc-tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1em;
  }
    #doc-tiles .tile {
        width: 48%;
        min-width: 20em;
        padding: 1em;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px 0 rgba(36,54,65,.1),0 0 2px 0 rgba(36,54,65,.1);
        border-radius: 4px;
        margin: .65em 0;
        transition: ease box-shadow 400ms;
    }
    #doc-tiles .tile:hover {
      box-shadow: 0 5px 5px 0 rgba(36,54,65,.3),0 0 2px 0 rgba(36,54,65,.3);
    }
      #doc-tiles .tile h3 {
          margin-top: 0;
      }
      #doc-tiles .tile ul,
      #doc-tiles .tile li {
          margin-bottom: 0;
      }
  </style>


  <div id="doc-tiles">
    <% current_page.data.tiles.each do |tile| %>
      <div class="tile">
          <% if tile.name? %>
            <h3><%= tile.name %></h3>
          <% end %> 
          <% if tile.desc? %>
            <p><%= tile.desc %></p>
          <% end %>
          <% if tile.links? %>
            <ul>
              <% tile.links.each do |link| %>
                <li><a href="<%= link.url %>"><%= link.name %></a></li>
              <% end %>
            </ul>
          <% end %>
      </div>
    <% end %> 
  </div>
<% end %>
