<%= vars.platform_name %> requires that the NSX firewall routes are not blocked. All communication between <%= vars.platform_name %> VMs and vCenter or ESXi hosts route
through the NSX firewall and are blocked by default. 
For more information on which ports to allow, see <a href="https://ports.vmware.com/home/vSphere" target="_blank">VMware Ports and Protocols</a> for vSphere.